body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

/* HEADER */
header {
    background: #0a3d62;
    color: white;
    padding: 20px;
    text-align: center;
}

/* NAVIGATION BAR USING LIST */
nav {
    background: #1e272e;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
    width: 25%;
    text-align: center;
}

.navbar li a {
    display: block;
    padding: 14px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Different background color for each button */
.navbar li:nth-child(1) a {
    background-color: #0a3d62;   /* Home - Blue */
}

.navbar li:nth-child(2) a {
    background-color: #08295b;   /* World - Green */
}

.navbar li:nth-child(3) a {
    background-color: #0a4f84;   /* Technology - Orange */
}

.navbar li:nth-child(4) a {
    background-color: #133f85;   /* Contact - Purple */
}

/* Hover Effect */
.navbar li a:hover {
    opacity: 0.8;
    background-color: #000;
}

/* Active Button */
.navbar li a.active {
    background-color: white;
    color: black;
}


/* CONTAINER */
.container {
    width: 90%;
    margin: auto;
    padding: 30px;
}

/* ABOUT SECTION */
.about {
    background-color: white;
    padding: 20px;
    margin-bottom: 40px;
    border: 2px solid #0a3d62;
}

.about h2 {
    font-family: Georgia, serif;
    color: #0a3d62;
}

.about {
    background-color: white;
    padding: 30px;
    margin-bottom: 40px;
    border: 2px solid #0a3d62;
    overflow: auto;   /* prevents layout breaking */
}

.about-img {
    float: left;
    width: 300px;
    margin: 0 25px 15px 0;
    border-radius: 6px;
    border: 2px solid #1e272e;
}


/* ARTICLES */
.articles-section {
    background-color: #eaf2f8;
    padding: 20px;
    border: 2px solid #1e272e;
}

.section-title {
    font-family: Georgia, serif;
    color: #0a3d62;
}

.blog-article {
    background-color: white;
    padding: 25px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    overflow: auto;
    line-height: 1.8;
}


.blog-article h3 {
    font-family: 'Trebuchet MS', sans-serif;
    color: #0a3d62;
}

.blog-article p {
    font-family: Arial, sans-serif;
    text-align: justify;
}

.article-img {
    float: left;
    width: 200px;
    margin: 10px 20px 10px 0;
    border: 2px solid #0a3d62;
}

/* FOOTER */
footer {
    background: #1e272e;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
